@import '../_variables.css';

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  justify-content: center;
  display: block;
  text-align: center;
  width: 65vw;
}
.carousel-images {
  margin: 0 40px;
}
.carousel-heading {
  text-transform: capitalize;
  margin: 0 0 60px 0;
}
.flickity-button {
  background-color: var(--highlight-color);
}
.flickity-button-icon {
  fill: white;
}
.flickity-button-icon:hover {
  fill: black;
}
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}
@media screen and (max-width: 1000px) {
  .carousel-container {
    width: 60vw;
  }
  .flickity-prev-next-button.previous {
    left: 100px;
    top: 80px;
  }
  .flickity-prev-next-button.next {
    right: 100px;
    top: 80px;
  }
  .carousel-heading {
    font-size: 2.4rem;
    margin: 0 0 40px 0;
  }
}
