@import '../_variables.css';

.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.hero-container::before {
  content: '';
  position: absolute;
  right: -430px;
  top: -780px;
  width: 1540px;
  height: 1540px;
  border-radius: 50%;
  background-color: var(--highlight-color);
  background: linear-gradient(
    350deg,
    var(--highlight-color),
    rgba(163, 215, 253, 0) 90%
  );
  z-index: -3;
}
.hero-container::after {
  content: '';
  position: absolute;
  right: -700px;
  top: -780px;
  width: 1540px;
  height: 1540px;
  border-radius: 50%;
  background-color: var(--highlight-color);
  background: linear-gradient(
    120deg,
    var(--highlight-color),
    rgba(163, 215, 253, 0) 60%
  );
  z-index: -2;
}
.hero {
  width: 90vw;
}
.heading-container {
  max-width: 780px;
}
.heading {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}
.heading-special {
  font-size: 8rem;
}
.heading-picture {
  position: absolute;
  max-width: 50%;
  height: auto;
  right: -2%;
  top: -12%;
  margin: 0;
  z-index: -1;
}
.subheading {
  max-width: 520px;
  font-size: 2rem;
  margin: 0 0 40px 0;
  line-height: 30px;
}
.button-fill {
  display: inline-flex;
}
.button-fill a {
  background-color: #fff;
  color: var(--main-color);
  padding: 1.8rem 5.1rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading-container {
    max-width: 100%;
    text-align: center;
  }
  .heading {
    font-size: 2.8rem;
    margin: 0 0 20px 0;
  }
  .heading-special {
    font-size: 4.5rem;
  }
  .hero-container::before {
    content: none;
  }
  .hero-container::after {
    content: none;
  }
  .heading-picture {
    order: -1;
    position: static;
    max-width: 100%;
    height: auto;
    right: 0;
    top: 0;
    margin: 0 0 60px 0;
  }
  .subheading {
    max-width: 100%;
    font-size: 1.6rem;
    margin: 0 0 20px 0;
  }
}
